body
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header
{
    font-size: xx-large;
    color: #0063B2FF;
    line-height: 70px;
}
footer
{
    position: relative;
    left: 0;
    bottom: 0;
    width: 25%;
    color: #0063B2FF;
    text-align: center;
}
#navbar > header
{
    text-align: center;
}
#navbar > a
{
    text-decoration: none;
    line-height: 50px;
    font-size: larger;
    border: 1px black;
    border-style: solid none none none;
    display: flex;
    color: #0063B2FF;
    background-color: #FCF6F5FF
}
#navbar > a:hover
{
    color: #9CC3D5FF;
    background-color: #0063B2FF;
}
#navbar
{
    position: fixed;
    border: 1px black solid;
    margin: 0px 0px 0px 0px;
    width: 299px;
    height: 100%;
}
#main-doc
{
    border: 1px black solid;
    margin: 0px 0px 0px 300px;
    padding: 20px 20px 20px 20px;
}
@media screen and (max-width: 800px)
{
    #navbar > header
    {
        line-height: 40px;
        width: 100%;
    }
    #navbar > a
    {
        line-height: 30px;
        width: 100%;
    }
    #navbar
    {
        position: absolute;  /*fixed for menu*/
        height: 199px;
        width: 100%;
        overflow: scroll;
    }
    #main-doc
    {
        margin: 200px 0px 0px 0px;
        padding: 20px 20px 20px 20px;
        width: 100%;
    }
    body
    {
        display: flex;
    }
}